<section class="d-flex align-items-center justify-content-center">
    <div class="row mb-5">
        <div class="col-12" style="text-align: center;">
            <ul>
                <img src="assets/Logo.png" alt="Logo">
                <div class="row">
                    <div class="col-12">
                       <i class="fa fa-facebook m-3" aria-hidden="true"></i>
                       <i class="fa fa-instagram m-3" aria-hidden="true"></i>
                       <i class="fa fa-twitter m-3" aria-hidden="true"></i>
                    </div>
                 </div>
                <p class="h-4" style="font-weight: bold;">Lineas de atención al
                    cliente</p>
                <p>Lunes a Viernes de 6:00am a 9:00pm.</p>
                <p>Sábados, Domingos y Festivos de 6:00am a 6:00pm.</p>
                <p>(601) 390 6962</p>
                <p>Linea directa de Bogotá</p>
                <p>Avenida El Dorado # 103-08 Interior 11 Bogotá-Colombia</p>
            </ul>
        </div>
    </div>
</section>