<!-- page-top.component.html -->
<header class="d-flex align-items-center justify-content-between page-top">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo de Quind">
    </div>
    <nav class="menu mt-4">
      <ul class="align-items-center justify-content-center d-flex">
        <li class="nav-item"><a href="#" class="nav-link">Destinos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Vuelos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Check-in</a></li>
        <li class="nav-item"> <a href="#" class="nav-link">Iniciar sesión</a></li>
        <li class="nav-item"><button class="btn btn-outline-dark">Registrarse</button></li>
        <li class="nav-item"><label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label></li>
        <li class="nav-item"><i class="fa fa-check"></i></li>
      </ul>
    </nav>
    <!-- <div class="d-flex">
      <a href="#" class="nav-link">Iniciar sesión</a>
      <span class="separator">|</span>
      <button class="btn btn-outline-dark">Registrarse</button>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <i class="fas fa-moon"></i>
    </div> -->
  </header>
  
  
  