
.h1 {
  font-size: 5em;
  margin-top: 0;
  font-weight: bold;
}

.h2 {
    font-size: 3em;
    margin-top: 0;
    font-weight: bold;
}
.main-color{
    color: #181E4B;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}
.comentario {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .comentario p {
   font-size:18px;
  }
  
  .img-travel {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(24, 192, 192) !important;
    border-radius: 15px 15px 1px 1px !important;
  }

  