<div class="p-4">
    <div class="d-flex">
    <div class="mt-5">
        <p class="h1 main-color mb-4">Vuelve a volar en cielos claros y sin turbulencias</p>
        <p class="main-color mb-4" style="font-weight: bold;">CONOCE MÁS SOBRE NUESTRAS POLÍTICAS PENSADAS PARA TI</p>
        <button type="button" class="btn btn-warning text-white" style="font-weight: normal;">Conoce más aquí</button>
    </div>
        <img src="assets/traveler.png" alt="Travel" class="img-fluid">
    </div>

    <div class="row mt-3">
     <div class="col-md-6">
        <p>Testimonios</p>
        <p class="h2 main-color">Comentarios de otros viajeros</p>
     </div>
     <div class="comentario col-md-6">
        <p>"Necesitaba cambiar las fechas de mi viaje, me comuniqué con Satena y fue fácil y rápido hacerlo. El mejor servicio al cliente que he usado"</p>
           <div>
              <p>Erick Padilla</p>
              <p>Medellín → Caracas</p>
           </div>
      </div>
      
      
 
</div>


